
.hero-sec{
    background-image: url("../images/hero.png");
    background-attachment: fixed; /* Parallax effect */
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 750px;
    padding-top: 300px;
    margin-top: 0;
}


.hero-p-btn{ 
    background-color: #FFD700;
}

a.btn.hero-p-btn {
    padding-top: 14px;
}

.hero-s-btn{
    border: 2px solid #FFD700;
    color: #FFD700;
}

.hero-btn{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.about-img-div{
    display: flex;
    gap: 25px;
}

.about-img{
    width: 260px;
    height: 610px;
    background-color: aquamarine;
    object-fit: cover;
}

.about{
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-txt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-txt a{
    font-size: 16px;
    color: rgb(161, 161, 161);
}

.project-txt a:hover{color: rgb(16, 16, 16);}


section{
    margin-top: 90px;
}


.services-maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.services-div{
    display: flex;
    width: 80%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 250px;
    border-radius: 8px;
}

.services:hover{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateY(-5px);
}

.services img{width: 60px;}

.services h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 22px;
    font-size: 24px;
}

.services p{
    width: 85%;
    margin-top: 8px;
    line-height: 22px;
    font-size: 14px;
}

.top-left{background: linear-gradient(130deg, #4F1699, #7021c5);}
.top-right{background: linear-gradient(-130deg, #4F1699, #7021c5);}
.bottom-left{background: linear-gradient(-260deg, #4F1699, #7021c5);}
.bottom-right{background: linear-gradient(260deg, #4F1699, #7021c5);}

